body {
  font-family: Optima, sans-serif;
  font-size: 16px;
  margin: 20px;
  text-align: center;
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
 text-align: center;
}

p {
	text-indent: 25px;
  margin-bottom: 20px;
  width: 40%;
  text-align: center;
}
/* Change the color of unvisited links */
a:link {
    color: grey; /* Change this to your desired color */
}

/* Change the color of visited links */
a:visited {
    color: black; /* Change this to your desired color */
}

/* Change the color of links on hover */
a:hover {
    color: black; /* Change this to your desired color */
}

/* Optional: Remove underline from links */
a {
    text-decoration: none; /* Remove underline if desired */
}


